.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.task-manager {
  text-align: center;
  margin-top: 30px;
}

.task-management {
  color: gray;
  margin-top: 10px;
}

.buttons-routers {
  text-align: center;
  margin-top: -20px;
}

.buttons-routers h6 {
  display: inline-block;
  padding: 10px 20px;
  color: gray;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 160px;
  margin-bottom: 5px;
  margin-left: -150px;
}

.buttons-routers h6:hover {
  color: black;
}

.buttons-routers h6.active {
  color: #007bff;
}

.input-form {
  display: flex;
  width: 500px;
  height: 60px;
  padding: 12px 12px;
  align-items: center;
  border-radius: 2px;
  border: 1px solid;
  background:  #FFF;
  margin-left: 110px;
  margin-bottom: 40px;
  position: relative;
}

.input-form input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 8px;
  padding-left: 30px;
}

.input-form.email::before {
  content: '';
  background: url('/assets/images/inputemail.png') no-repeat;
  background-size: 20px 20px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  z-index: 1;
}

.input-form.password::before {
  content: '';
  background: url('/assets/images/inputpassword.png') no-repeat;
  background-size: 20px 20px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  z-index: 1;
}

.button-sign {
  width: 400px;
}

.button-sign button {
  margin-left: 110px;
  color: white;
  width: 160px;
  background-color: dodgerblue;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
}

.button-sign:hover {
  color: royalblue;
}

.checkbox-and-text {
  display: flex;
  align-items: center;
  margin-left: 110px;
  margin-bottom: 20px;
}

.checkbox-and-text input {
  margin-right: 5px;
  margin-bottom: 10px;
}

.forgot-password {
  margin-left: auto;
  color: #007BFF;
  cursor: pointer;
  margin-left: 220px;
  margin-bottom: 8px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.image-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 110px;
  margin-bottom: 30px;
}

.image-row img {
  max-width: 50px;
  height: auto;
}

.image-row span {
  margin-right: -30px;
}

.image-row h6.card-title {
  margin-left: 10px;
  margin-right: 80px;
  text-decoration: underline;
  color: dodgerblue;
  cursor: pointer;
}

