<!-- taskgrouplist.component.html -->

<div class="header">
  <div class="user-info" (click)="goToUserProfile()">
    <img src="assets/images/inputemail.png" alt="Avatar">
  </div>
</div>

<div class="sidebar">
  <div class="task-groups">
    <div *ngFor="let taskGroup of taskGroups" class="task-group" [class.active]="isTaskListVisible(taskGroup.id)">
      <p (click)="toggleTaskList(taskGroup.id)">
        <span class="task-group-name" [class.active]="isTaskListVisible(taskGroup.id)">{{ taskGroup.name }}</span>
        <span class="delete-icon" (click)="deleteTaskGroup(taskGroup.id)">🗑️</span>
      </p>
    </div>

    <button (click)="toggleNewTaskInput()">+ Add New Task Group</button>

    <div *ngIf="showNewTaskInput">
      <input [(ngModel)]="newGroup.name" placeholder="New Task Group Name" />
      <button (click)="createTaskGroup()">Add</button>
      <button (click)="clearForm()">Clear</button>
    </div>
  </div>
</div>



<!-- Main Content (Tasks) -->
<div class="content">
  <div *ngFor="let taskGroup of taskGroups">
    <h5 *ngIf="isTaskListVisible(taskGroup.id)">{{ taskGroup.name }} Tasks</h5>
    <table *ngIf="isTaskListVisible(taskGroup.id)">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of taskGroup.tasks">
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.date }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noTaskGroups>
  <p>No task groups available.</p>
</ng-template>
